<h1>Please log in!</h1>

      <form method ="POST" action = "/login">
        Enter username: <input type="text" name="user_name">
        Password: <input type="password" name="password">
         <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right"></i>
        </button>
      </form>