<h1>Enter your new plants data!</h1>
<h3>
    <form method="POST" action="/plants">
    
    Plant Name: <input type="text" name="name">
    <br><br>
    Latin Name: <input type="text" name="latin_name">
    <br><br>
    Notes: <textarea rows="5" cols="80" type="text" name="notes"> </textarea>
    <br><br>
    Date Planted: <input type="text" name="date_planted">
    <br><br>
    Garden: <input type="text" name="garden_name">
    <h4>You're current gardens are named: </h4>
    <h5>
    <ul>
    <% array = []%>
    <% current_user.plants.each do |plant|%>
        <% if array.include?(plant.garden_name)%>
        <% else %>
            <% array << plant.garden_name%>
            <li> ---- <%= plant.garden_name %> ---- </a> </li>    
        <% end %>
    <% end %>
    </ul>
    </h5>
    <br><br>

    <input type="submit">
    
    </form>
</h3>
