<h1>Enter your new plants data!</h1>
<h3>
    <form method="POST" action="/plants">
    
    Plant Name: <input type="text" name="name">
    <br><br>
    Latin Name: <input type="text" name="latin_name">
    <br><br>
    Notes: <textarea rows="5" cols="80" type="text" name="notes"> </textarea>
    <br><br>
    Date Planted: <input type="text" name="date_planted">
    <br><br>
    Garden: <input type="text" name="garden_name">
    <br><br>

    <input type="submit">
    
    </form>
</h3>
