

    <div class="content">
      <h1> Welcome to Hegemone!</h1> 
      <h3>You can keep track of your plants in your gardens here! </h3>
    </div>
    

      <body>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h3>Please log in!</h3>
       <form method ="POST" action = "/login">
        Enter username: <input type="text" name="user_name">
        Password: <input type="password" name="password">
        <input type="submit" value="submit">
      </form>
      <h3><a href='/users/signup'> New here? Please sign up here!</a></h3>     

  </body>


    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
